[core]
	excludesfile = /Users/zhaowenlu/.gitignore_global
	autocrlf = input
[user]
	name = wenlu.zhao
	email = wenlu.zhao@dtminds.com
[commit]
	template = /Users/zhaowenlu/.stCommitMsg
[hub]
	protocol = https
[pull]
	ff = only
[icdiff]
	options = --highlight --line-numbers
[difftool "sourcetree"]
	cmd = " "
	path = 
[mergetool "sourcetree"]
	cmd = " "
	trustExitCode = true
